.nav {
    font-size: 1.2rem;
    font-weight: bold;
  li {
    margin-left: 50px;
  }

  a {
    color: map-get($color, primary);
    &:hover {
      text-decoration: underline;
      font-weight: bolder;
    }
  }
}