@charset "UTF-8";
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img1 {
  width: 100%;
  display: block;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  /* Box-model */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*Tipografía*/
  font-family: Helvetica;
}

h1 {
  /* Box-model */
  margin-bottom: 15px;
  /*Tipografía*/
  font-family: arial;
  font-size: 2.5rem;
  color: #FFFFFF;
  text-align: center;
}

h2, h4 {
  /* Box-model*/
  margin-bottom: 20px;
  /*Tipografía*/
  color: #1F3F68;
  font-family: Helvetica;
  font-weight: bold;
}

h2 {
  /*Tipografía*/
  font-size: 2.25rem;
  letter-spacing: 0.04em;
  line-height: 2.5rem;
}

h3 {
  /* Box-model*/
  margin-bottom: 20px;
  /*Tipografía*/
  color: #356EAD;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1.3;
}

h4 {
  /*Tipografía*/
  margin-bottom: 5px;
}

p {
  /* Box-model*/
  margin-bottom: 40px;
  /*Tipografía*/
  font-family: arial;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5rem;
}

time {
  /*Tipografía*/
  color: rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 20px 30px;
  background-color: #5A98D0;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.banner {
  position: relative;
  color: #fff;
}

.banner__img {
  display: block;
  width: 100%;
  height: 250px;
}

.banner__text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner p {
  font-size: 1.1rem;
  color: #FFFFFF;
  line-height: 1.7;
}

.nav {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav li {
  margin-left: 50px;
}

.nav a {
  color: #1F3F68;
}

.nav a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.search {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 0 6px 0 15px;
  margin-bottom: 55px;
}

.search__bar {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 15px 10px;
  font-size: 1rem;
}

.search__bar::-webkit-input-placeholder {
  color: #1F3F68;
}

.search__bar:-ms-input-placeholder {
  color: #1F3F68;
}

.search__bar::-ms-input-placeholder {
  color: #1F3F68;
}

.search__bar::placeholder {
  color: #1F3F68;
}

.popular__article-text {
  padding-right: 20px;
}

.popular__article-footer {
  padding-right: 20px;
}

.popular__article-footer .share a {
  margin-right: 10px;
}

.other-popular {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.other-popular__article-img {
  margin-bottom: 20px;
}

.other-popular h3 {
  font-family: Helvetica;
  color: #1F3F68;
  font-weight: bold;
  font-size: 1.2rem;
}

.other-popular .share a {
  margin-right: 10px;
}

.see-all-popular {
  text-align: end;
}

.see-all-popular a {
  font-family: Helvetica;
  color: #1F3F68;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

.see-all-popular a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.see-all-popular hr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.all-article article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.all-article article h3 {
  font-family: Helvetica;
  color: #1F3F68;
  font-weight: bold;
  font-size: 1.4rem;
}

.all-article__footer .share a {
  margin-right: 10px;
}

.footer {
  width: 98%;
  background-color: #316099;
  border-top-right-radius: 100px;
}

.footer h2, .footer h3, .footer p, .footer a, .footer i {
  color: #FFFFFF;
}

.footer h3 {
  font-size: 1.2rem;
}

.footer__container {
  padding-left: 35px;
}

.footer li {
  margin-bottom: 15px;
}

.footer a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
}

header {
  padding: 40px 100px;
}

footer {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */